html{
    background-color: #FFFEF3;

}

body{
    font-family: 'Vidaloka', serif, 'Spartan', sans-serif;
    font-size: 150%;
    width: 100%;
    max-width: 1920px;
    margin: 0em;
}

.logo{
    color: #535300;
    font-size: 200%;
    font-weight: lighter;
    padding: 0em 1em .1em .3em;
    float: left;
    margin: 0 1em;
    text-shadow: -3px 4px 3px #adadad;
}
#main-menu nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 1em 0em 1em 0em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    padding: 1em 1em;
    font-family: 'Spartan', sans-serif;
    color:#535300;
    font-size: 100%;
    font-weight: 500;
    height: 0;
    float: left;
    margin: 0em;
}
.account {
    float: right;
    margin: 0em;
     
}

.fillable-fields{
    grid-gap: 0em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    background-color: #F5F0CE;
    padding-bottom: 10em;
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 2em;
}

.login-field{
    width: auto;
    margin: auto;
    align-items: center;
    display: grid;
    grid-gap: 1em;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  
}
.signup-field{
    width: auto;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 1.6em;

}
.login-field-password{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    display: grid;
    font-weight: 400;
    margin: auto;
    width: 100%;
    
}
.login-field-email{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    display: grid;
    font-weight: 400;
    margin: auto;
    width: 100%;
}
.login-field-1{
    height: 56px;
    width: 100%;
    min-width: 300px;
    max-width: 453px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    min-height: 50px;
}
.login-field-2{
    height: 56px;
    width: 100%;
    min-width: 300px;
    max-width: 453px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    padding: 24px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    min-height: 50px;
}
.signup-field-password{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    display: grid;
    font-weight: 400;
    margin: auto;
    width: 100%;
    
}
.signup-field-email{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    display: grid;
    font-weight: 400;
    margin: auto;
    width: 100%;
}
.signup-field-1{
    height: 56px;
    width: 100%;
    min-width: 300px;
    max-width: 453px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    min-height: 50px;
}
.signup-field-2{
    height: 56px;
    width: 100%;
    min-width: 300px;
    max-width: 453px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    padding: 24px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    min-height: 50px;
}
.login-title{
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    width: 25%;
    min-width: 160px;
    line-height: 67px;
    color: #535300;
}
.signup-title{
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    width: 25%;
    min-width: 190px;
    line-height: 67px;
    color: #535300;
}
.email{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #333300;
    width: 78.5%;
    min-width: 200px;
    margin: 
}
.pswrd{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #333300;
    width: 78.5%;
    min-width: 200px;
    margin: 1em 0em;
}
.forgot-pswrd{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    width: 78.5%;
    min-width: 200px;
    text-decoration-line: underline;
    color: #333300;
    margin: auto 0em auto 5em;
    float: right;
}

.login-button{
    background: #EE9739;
    border-radius: 30px;
    height: 55px;
    width: 35%;
}
.login-button-text{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #535300;
    padding-top: .5em;
    margin: 1em 1em;
}
.signup-button{
    background: #EE9739;
    border-radius: 30px;
    height: 55px;
    
    width: 20.1453333%;
    min-width: 80px;
}
.signup-button-text{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #535300;
    padding-top: 1.5em;
}
#fields{
    margin: 2em 0em;
    width: 100%;
}
#main-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 1em 0em 1em 0em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main-menu img {
    float: right;
    margin: 0em;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(
      to bottom, 
      #535300, #535300 20%, 
      #FFFEF3 20%, #FFFEF3 40%, 
      #535300 40%, #535300 60%, 
      #FFFEF3 60%, #FFFEF3 80%, 
      #535300 80%, #535300 100%);
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: #535300;
    transition: 1s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
    display: flex;
    flex-direction: column;
}

#hamburger-menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
    margin: 1em;
}
#hamburger-menu img{
    background-color: white;
    padding: 1em;
    border-radius: 2em;
}
#hamburger-menu a:hover {
  text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
#sidebar{
    transition: 1s;
}

#hamburger-input{
  display: none;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

@media screen and (max-width: 1320px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

@media (max-width: 1320px){
    .logo {float: none;}
}

@media (min-width:480px){
    .fillable-fields{
        padding: 0em 0em 10em;
    }
}
@media (min-width:600px){
    .fillable-fields{
        padding: 0em 0em 10em
    }
}
@media (min-width:800px){
    .fillable-fields{
        padding: 0em 10em 10em;
    }
}
footer{
    clear: both;
    text-align: center;
    margin-top: 0em;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    color: #535300;
    border-top: 3px solid #535300;
}
