html{
    background-color: #FFFEF3;

}

body{
    font-family: 'Vidaloka', serif, 'Spartan', sans-serif;
    font-size: 150%;
    width: 100%
    margin: 0 1em 0 5em;
}

.logo{
    color: #535300;
    font-size: 200%;
    font-weight: lighter;
    padding: 0em 1em .1em .3em;
    float: left;
    margin: 0 1em;
    text-shadow: -3px 4px 3px #adadad;
}
#main-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 1em 0em 1em 0em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    padding: 1em 1em;
    font-family: 'Spartan', sans-serif;
    color:#535300;
    font-size: 100%;
    font-weight: 500;
    height: 0;
    float: left;
    margin: 0em;
}
#main-menu img {
    float: right;
    margin: 0em;
}
section{
    width: 100%;
    min-width: 430px;
    max-width: 100%;
    background-color: #F5F0CE;
    float: left;
    margin-bottom: 4em;
    margin-top: 4em;
}
.main-title{
    text-align: left;
    float: left;
    font-family:'Spartan', sans-serif;
    color: #535300;
    margin: auto;
    padding: 2em 0em 1em .8em;
    text-shadow: -3px 6px 7px #adadad;
    width: 28%;
    min-width: 380px;
}
.main-title-image{
    width: 70%;
    min-width: 430px;
}
section p{
    font-family: 'Spartan', sans-serif;
    color: #535300;
    clear: both;
    text-align: left;
    float: left;
    width: 28%;
    margin: 0;
    min-width: 380px;
    padding: 1em 0em 1em 1em;
}
article {
    padding: 2em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}
.story-1{
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1)
}
.story-2{
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1)
}
.portrait{
    margin: 1em;
    width: 75%;
    max-width: 500px;
    min-width: 200px;
}
div h2{
    font-family: Vidaloka, serif;
    color: #535300;
    font-size: 175%;
    margin: .5em;
    padding: 0em;
    font-weight: 100;
    width: 90%;
}
div p{
    font-family: Spartan, sans-serif;
    color: #333300;
    margin: 1em;
    padding: 0em;
    width: 80%;
    line-height: 1.7em;
}
footer{
    clear: both;
    text-align: center;
    margin-top: 10em;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    color: #535300;
    border-top: 3px solid #535300;
}
#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(
      to bottom, 
      #535300, #535300 20%, 
      #FFFEF3 20%, #FFFEF3 40%, 
      #535300 40%, #535300 60%, 
      #FFFEF3 60%, #FFFEF3 80%, 
      #535300 80%, #535300 100%);
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: #535300;
    transition: 1s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
    display: flex;
    flex-direction: column;
}

#hamburger-menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
    margin: 1em;
}
#hamburger-menu img{
    background-color: white;
    padding: 1em;
    border-radius: 2em;
}
#hamburger-menu a:hover {
  text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
#sidebar{
    transition: 1s;
}

#hamburger-input{
  display: none;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

@media (min-width: 480px){
    p {font-size: 70%;}
}
@media (min-width: 600px) {
    p {font-size: 90%;}
}
@media (min-width: 900px) {
    p {font-size: 100%;}
}
@media (min-width: 500px) {
    div h2 {font-size: 100%;}
}
@media (min-width: 600px) {
    div h2 {font-size: 130%;}
}
@media (min-width: 900px) {
    div h2 {font-size: 150%;}
}
@media screen and (max-width: 1320px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}
