html{
    background-color: #FFFEF3;
}

body{
    font-family: 'Vidaloka', serif, 'Spartan', sans-serif;
    font-size: 150%;
    width: 100%;
    max-width: 1920px;
    margin: 0em;
}

.logo{
    color: #535300;
    font-size: 200%;
    font-weight: lighter;
    padding: 0em 1em .1em .3em;
    float: left;
    margin: .5em;
    margin-top: 0em;
    text-shadow: -3px 4px 3px #adadad;
}
#main-menu nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 1em 0em 0em 0em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    text-align: center;
    padding: 1em 1em;
    font-family: 'Spartan', sans-serif;
    color:#535300;
    font-size: 100%;
    font-weight: 500;
    height: 0;
    float: left;
    margin: 0em 0em 4em 0em;
}
section{
    width: 100%;
    min-width: 480px;
    max-width: 100%;
    background-color: #F5F0CE;
    float: left;
}
.main-title{
    text-align: center;
    float: left;
    font-family:'Spartan', sans-serif;
    color: #535300;
    margin: auto;
    padding: 2em 0em 1em .5em;
    text-shadow: -3px 6px 7px #adadad;
    width: 28%;
    min-width: 380px;
}
.home-photo{
    width: 70%;
    min-width: 430px;
}

section p{
    font-family: 'Spartan', sans-serif;
    color: #535300;
    clear: both;
    text-align: left;
    float: left;
    width: 28%;
    margin: 0;
    min-width: 380px;
    padding: 1em 0em 1em 1em;
}
.POTW{
    clear: both;
    padding: 3em 2em 4em 2em;
    width: 50%;
    text-align: center;
    margin: auto;
    font-family: 'Spartan';
    font-style: italic;
    font-weight: 1000;
    font-size: 150%;
    line-height: 34px;
    color: #535300;
}
.plant_1_info{
    margin: 0;
    padding-left: .5em;
    padding-right: .5em;
    width: 220px;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    color: #333300;
    font-size: smaller;
    
}
.plant_1_title{
    margin: 0;
    padding: .5em;
    width: 220px;
    font-family:'Spartan', sans-serif;
    color: #333300;
}
.plant_1_photo{
    margin: auto;
    padding: auto;
    width: 250px;
    border: 2px solid #F5F0CE;
    border-radius: 30px;
    background-color: #F5F0CE;
    box-shadow: 0px 200px 0px 0px #F5F0CE;
}
.plant_2_title{
    margin: 0;
    padding: .5em;
    width: 220px;
    font-family:'Spartan', sans-serif;
    color: #333300;
}
.plant_2_photo{
    margin: auto;
    padding: auto;
    width: 250px;
    border: 2px solid #F5F0CE;
    border-radius: 30px;
    background-color: #F5F0CE;
    box-shadow: 0px 200px 0px 0px #F5F0CE;
}
.plant_2_info{
    margin: 0em;
    padding-left: .5em;
    padding-right: .5em;
    width: 220px;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    color: #333300;
    font-size: smaller;

}
.plant_3_title{
    margin: 0;
    padding: .5em;
    width: 220px;
    font-family:'Spartan', sans-serif;
    color: #333300;
}
.plant_3_photo{
    margin: 0em;
    padding: 0em;
    width: 250px;
    border: 2px solid #F5F0CE;
    border-radius: 30px;
    background-color: #F5F0CE;
    box-shadow: 0px 200px 0px 0px #F5F0CE;
  
}
.plant3::after{
    content: "";
    position: absolute;
    width: 80%;
    height: 104%;
    background-color: #535300;
    opacity: 25%;
    top: 0;
    border-radius: 1.5em;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
}
.plant3:hover::after{
    transform: scaleX(1);
    transform-origin: bottom;
}
.plant_3_info{
    margin: 0em;
    padding-left: .5em;
    padding-right: .5em;
    width: 220px;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    color: #333300;
    font-size: smaller;
}
.plant_4_title{
    margin: 0em;
    padding: .5em;
    width: 220px;
    font-family:'Spartan', sans-serif;
    color: #333300;
}
.plant_4_photo{
    margin: 0em;
    padding: 0em;
    width: 250px;
    border: 2px solid #F5F0CE;
    border-radius: 30px;
    background-color: #F5F0CE;
    box-shadow: 0px 200px 0px 0px #F5F0CE;
 
}
.plant_4_info{
    margin: 0em;
    padding-left: .5em;
    padding-right: .5em;
    width: 220px;
    text-align: left;
    font-family: 'Spartan', sans-serif;
    color: #333300;
    font-size: smaller;

}
article{
    padding: 3em;
    display: grid;
    grid-gap: 4em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

#plant-list{
    margin: 1em;
    padding-left: 1.5em;
    text-decoration: none;
    position: relative;
    z-index: -2;
}
#main-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 1em 0em 1em 0em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main-menu img {
    float: right;
    margin: 0em;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0;
    margin: 0em;
    background: linear-gradient(
      to bottom, 
      #535300, #535300 20%, 
      #FFFEF3 20%, #FFFEF3 40%, 
      #535300 40%, #535300 60%, 
      #FFFEF3 60%, #FFFEF3 80%, 
      #535300 80%, #535300 100%);
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: #535300;
    transition: 1s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
    display: flex;
    flex-direction: column;
}

#hamburger-menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
    margin: 1em;
}
#hamburger-menu img{
    background-color: white;
    padding: 1em;
    border-radius: 2em;
}
#hamburger-menu a:hover {
  text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
#sidebar{
    transition: 1s;
}

#hamburger-input{
  display: none;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

@media screen and (max-width: 1320px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}
@media (min-width: 480px){
    .main-title{font-size: 30px;
        width: 100%;
        padding: 1em 0em;
    }
}
@media (min-width: 480px){
    section p{font-size: 16px;
    min-width: 200px;
    margin: auto;
    padding: 1em;
    text-align: center;
    float: none;}
}
@media (min-width: 480px){
    .home-photo{
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
    }
}
@media (min-width: 480px){
    .POTW {
    margin: auto;
    padding: 1em 0em;
    font-size: 30px;
    width: 100%}
}
@media (min-width: 480px){
    article{
        padding-top: 0;
    }
}
@media (min-width: 500px){
    .main-title{font-size: 45px;
        width: 100%;
        padding: 1em 0em;
    }
}
@media (min-width: 500px){
    section p{font-size: 20px;
    min-width: 300px;
    margin: auto;
    padding: 1em;
    text-align: center;
    float: none;}
}
@media (min-width: 500px){
    .home-photo{
        width: 100%;
        margin: 0;
        padding: 0;
        float: left;
    }
}
@media (min-width: 500px){
    .POTW {
    margin: auto;
    padding: 1em 0em;
    font-size: 35px;
    width: 100%}
}
@media (min-width: 500px){
    article{
        padding-top: 0;
    }
}
@media (min-width: 600px){
    .main-title{font-size: 50px;
        width: 100%;
        padding: 1em 0em;
    }
}
@media (min-width: 600px){
    section p{font-size: 25px;
    min-width: 75%;
    margin: auto;
    padding: 1em;
    text-align: center;
    float: none;}
}
@media (min-width: 600px){
    .home-photo{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 600px){
    .POTW {
    margin: auto;
    padding: 1em 0em;
    font-size: 35px;
    width: 100%}
}
@media (min-width: 600px){
    article{
        padding-top: 1em;
    }
}
@media (min-width: 800px){
    .main-title{font-size: 50px;
        width: 100%;
        padding: 1em 0em;
    }
}
@media (min-width: 800px){
    section p{font-size: 25px;
    min-width: 75%;
    margin: auto;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    float: none;}
}
@media (min-width: 800px){
    .home-photo{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 800px){
    .POTW {
    margin: auto;
    padding: 1em 0em;
    font-size: 35px;
    width: 100%}
}
@media (min-width: 800px){
    article{
        padding-top: 1em;
    }
}
footer{
    clear: both;
    text-align: center;
    margin-top: 10em;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    color: #535300;
    border-top: 3px solid #535300;
}